<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

 <div class="card" style="max-width: 540px;">
  <div class="card-header">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" }%>
    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { autocomplete: "new-password", size: "20" } %>
   <label for="email">Password:</label>
  <%= f.password_field :password_confirmation,
                required: true,
                input_html: { autocomplete: "new-password" } %>


  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>

<% end %>
  </div>
  </div>

<%= render "devise/shared/links" %>
